{% extends 'base.html.twig' %}

{% block body %}
    <div id="logo">LOGO</div>

    {% if app.session.get('logged') is defined and app.session.get('logged') == 1%}
        <div id="hometitle">Bonjour {{ app.session.get('name') }} !</div>
    {% else %}
        <div id="links">
            <div id="connexion"><a href="{{ path('login') }}">Se Connecter</a></div>
            <div id="inscription"><a href="{{ path('register') }}">S'inscrire</a></div>
        </div>
    {% endif %}

    <div id="menu">
        <a href="">
            <img src="{{ asset('bundles/app/images/rencontres.png') }}"/>
            <br />
            Rencontres
        </a>
        <a href="{{ path('docteur') }}">
            <img src="{{ asset('bundles/app/images/medecins.png') }}"/>
            <br />
            Médecins
        </a>
        <a href="{{ path("questionnaire") }}">
            <img src="{{ asset('bundles/app/images/questionnaire.png') }}"/>
            <br />
            Faire le questionnaire
        </a>
        <a href="">
            <img src="{{ asset('bundles/app/images/doc.png') }}"/>
            <br />
            Documentation
            En Savoir +
        </a>
    </div>
{% endblock %}